version: "3"
services:
  server:
    env_file: ./packages/raccoon-city-graphql/.env
    container_name: raccoon-city
    links:
      - mongo
      - redis
    build:
      context: ./packages/raccoon-city-graphql
      dockerfile: Dockerfile
    ports:
      - 4000:4000
    depends_on:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - data-volume:/var/lib/db
    ports:
      - "27017:27017"
  redis:
    image: redis
    expose:
      - 6379
volumes:
  data-volume:
